#container{
    background-color: grey;
    margin-top: 70px;
    margin-bottom: 20px;
    height: 500px;
    border-radius: 20px;
}

#topo{
    background-color: #660033;
    color: #fff;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#carrinho{
    background-color: white;
    overflow: auto;
    height: 330px;
}

#base{
    background-color: #660033;
    height: 70px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.card{
    width: 80px;
    height: 80px;
}

#nomeProduto{
    text-align: center;
    margin-top: 20px;
}

#botao{
    border-radius: 20px;
}

