.hp2{
    position: absolute;
    right: 3%;
    border-radius: 20px;
}

.checkbox_filtros{
    color: white;
    text-align: left;
    width: 20%;
    position:  static;
}

.sublin{
    text-decoration: underline;
}


.filter-products{
    color: #fff;
    background-color: #000;
    text-align: center;
    border-radius: 15px;
    width: 100px;
}

.form-check{
    margin-bottom: 5px;
}

@media screen and (max-width : 580px)
{

}
