/* BANNERS */
.carousel {
  height: 300px;
}

.banners-carousel {
  background-color: #fff;
  width: 95%;
  max-width: 1200px;
  height: 250px;
  
}

/* LIST PRODUCTS */
/* .products {
  
} */

.header-products  {
  color: #fff;
  background-color: #000;
  text-align: center;
  border-radius: 15px;
}

.product {
  flex-direction: column;
  margin-bottom: 20px;
}

.image-product *{
  max-height: 140px;
}

.header-product {
  font-size: 20px;
  font-weight: bold;
}

.buy-product {
  padding: 2px 10px;
  color: white;
  background-color: green;
  border: none;
  border-radius: 20px;
}

.buy-product:hover {
  color: green;
  background-color: #fff;
}

.price-line {
  text-decoration: line-through;
  color: #585858;
}
