body {
  background-color: grey;
}

h1 {
  margin: 0;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

header, footer {
  color: white;
  background-color: #660033;
  border-radius: 20px;
  box-sizing: border-box;
  overflow: auto;
  text-align: center;
}

.meuHeader {
  background-color: black;
}

.logo {
  width: 100%;
  margin: 0;
  background-color: #660033;
  border-radius: 20px;
  padding: 10px;
}

.meuFooter {
  text-align: left  ;
  justify-content: space-around;
}

.meuFooter *, .copyright {
  margin: 0;
}
