section {
    margin-bottom: 100px;
}

article {
    margin-left: 100px;
    margin-top: 60px;
    width: 65%;
    color: white;
}

.card {
    height: 350px;
    background-color: black;
}

hr {
    background-color: black;
}

strike {
    color: darkgrey;
}

#comprar {
    float: right;
}

#botao {
    border-radius: 20px;
}

#sectionproduto {
    margin-top: 100px;
    margin-left: 40px;
    
}
